<?xml version="1.0" encoding="UTF-8"?>
<!-- Documentation at:                                          -->
<!-- https://logging.apache.org/log4j/2.x/manual/layouts.html   -->
<!-- https://logging.apache.org/log4j/2.x/manual/appenders.html -->
<Configuration status="INFO">
	<Appenders>
		<RollingFile name="RollingFile" fileName="UBIJ8330.log"
			filePattern="UBIJ8330-%d{yyyy-MM-dd}-%i.log.zip"
			immediateFlush="true" bufferedIO="true">
			<PatternLayout>
				<Pattern>%d{DATE} %-5level %logger{36} - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{DATE} %-5level - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="RollingFile" />
			<!-- <AppenderRef ref="Console" --> />
		</Root>
	</Loggers>
</Configuration>